.leftw {
	width: 151px;
	background-color: #EBEBEB;

}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #26568A;

}
.footer {
	background-image: url('../../images/bg.gif');
	background-repeat: repeat-y;
	background-position: left center
}
.up {
	border-left:0px solid #003976; border-right:0px solid #003976; border-top:0px solid #003976; border-bottom:1px solid #003976; background-image: url('../../images/bgup.gif');
	background-repeat: repeat-x


}
.down {
	background-color: #79A1C9;
}
.cat {
	border-left:1px solid #FFFFFF; border-right:1px solid #336699; border-top:1px solid #FFFFFF; border-bottom:1px solid #336699; color: #003976;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	background-color: #ffecf5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url('images/gradient.gif');
	background-repeat: no-repeat;
	background-position: left top





}
td.cat a:link {
	color: #003976;
	text-decoration: none;

}
td.cat a:visited {

	color: #003976;
	text-decoration: none;
}

.catover {
	color: #003976;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	border: 1px solid #EBEBEB;
	background-color: #E1E6E8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url('images/folder.gif');
	background-repeat: no-repeat;
	background-position: left top
	bgsound: url('images/0.au');

}

td.catover a:link {
	color: #D6C69C;
	text-decoration: none;
}

td.catover a:visited {
	color: #D6C69C;
	text-decoration: none;
}

a:link {
	color: #003976;
	text-decoration: none;
}
a:visited {
	color: #003976;
	text-decoration: none;
}

a:hover {
	color: green;
	text-decoration: underline;
}

a:active {
	color: #FF6600;
	text-decoration: none;
}

.opentitle {
	font-size: 14px;
	font-weight: bold;
	color: #003976;
	background-image: url('../../images/opent.gif');
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif
}

.upright {
	background-image: url('../../images/up_right.gif');
	background-repeat: no-repeat;
	background-position: right top
}

.subcat {
	padding-left: 10px;
	font-weight: normal;
	background-color: #759EC6;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #608AB6;
	border-right-color: #608AB6;
	border-bottom-color: #608AB6;
	border-left-color: #608AB6;



}
.subcatover {
	border-left:0px solid #95B3D2; border-right:0px solid #95B3D2; border-top:1px solid #95B3D2; border-bottom:1px solid #95B3D2; padding-left: 10px;
	font-weight: normal;
	background-color: #608AB6;
	background-image: url('../../images/subcat.gif');
	background-repeat: no-repeat;
	background-position: left top;





}
.subcat2 {
	padding-left: 20px;
	font-weight: normal;
	background-color: #3D6FA6;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #36699F;
	border-right-color: #36699F;
	border-bottom-color: #36699F;
	border-left-color: #36699F;


}
.subcat2over {
	border-left:0px solid #4A7CB3; border-right:0px solid #4A7CB3; border-top:1px solid #4A7CB3; border-bottom:1px solid #4A7CB3; padding-left: 20px;
	font-weight: normal;
	background-color: #36699F;
	background-image: url('../../images/cat2.gif');
	background-repeat: no-repeat;
	background-position: left top



}
td.subcatover a:link {


	color: #FFFFFF;
	text-decoration: none;
}
td.subcatover a:visited {



	color: #FFFFFF;
	text-decoration: none;
}
td.subcat2over a:link {



	color: #FFFFFF;
	text-decoration: none;
}
td.subcat2over a:visited {




	color: #FFFFFF;
	text-decoration: none;
}
.teaserleft {
	background-image: url('../../images/left.gif');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #D5D5D5;
	margin: 2px




}
.teaserleft2 {
	background-image: url('../../images/left.gif');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #FFFFFF;
	margin: 2px

}
.teaserheadleft {
	border-left:0px solid #EBEBEB; border-right:0px solid #EBEBEB; border-top:0px solid #EBEBEB; border-bottom:1px solid #EBEBEB; font-weight: bold;
	background-image: url('../../images/leftc.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 10px






}
table.teaserleft a:link {
	color: #000000;
}
table.teaserleft a:visited {
	color: #000000;
}
.drop {
	font-size: 9px;
	background-color: #EBEBEB;
	border: 1px solid #6699CC;
}
.drop2 {
	font-size: 9px;
	background-color: #EBEBEB;
	border-top: 1px solid #999999;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #999999;

}
.but {
	font-size: 9px;
	font-weight: bold;
}
.qn {
	font-size: 10px;
	font-weight: bold;
	color: #FF6600;
}
.news {
	background-color: #F4822B;
	background-image: url('../../images/newsc.gif');
	background-repeat: no-repeat;
	background-position: right top;
	color: #FFFFFF;
	width: 141px



}
.t2 {
	color: #F2C9B7;
	font-size: 10px;


}
p.he {
	color: #FFFFFF;
	margin: 0px;
	padding: 0px 2px;
	font-size: 10px;
	font-weight: bold;



}
p.he a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;

}
p.he a:visited {

	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
p.he a:hover {


	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}
.date {
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	font-style: italic;
	font-weight: bold;




}
.reg {
	background-color: #26568A;
	background-image: url('../../images/newsc.gif');
	background-repeat: no-repeat;
	background-position: right top;
	width: 141px

}
td.subcat a:link {
	color: #D1E4F7;
	text-decoration: none;
}
td.subcat a:visited {

	color: #D1E4F7;
	text-decoration: none;
}
td.subcat2 a:link {
	color: #93B7D8;
	text-decoration: none;
}
td.subcat2 a:visited {
	color: #93B7D8;
	text-decoration: none;
}
.subcat3 {
	padding-left: 30px;
	font-weight: normal;
	background-color: #26568A;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #204E80;
	border-right-color: #204E80;
	border-bottom-color: #204E80;
	border-left-color: #204E80;
	font-size: 10px;

}
.subcat3over {
	border-left:0px solid #305F93; border-right:0px solid #305F93; border-top:1px solid #305F93; border-bottom:1px solid #305F93; padding-left: 30px;
	font-weight: normal;
	background-color: #204E80;
	font-size: 10px;
	background-image: url('../../images/cat3.gif');
	background-repeat: no-repeat;
	background-position: left top


}
td.subcat3 a:link {
	color: #97BCDC;
	text-decoration: none;
}
td.subcat3 a:visited {

	color: #97BCDC;
	text-decoration: none;
}
td.subcat3over a:link {

	color: #FFFFFF;
	text-decoration: none;
}
td.subcat3over a:visited {


	color: #FFFFFF;
	text-decoration: none;
}
li {
	list-style-image: url('../../images/bullet.gif');
}
.teasertextleft {
	font-size: 10px;
}
.teaser {
	color: #3D6FA6;
	background-color: #D8E6EF;
	padding: 2px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #336699;
	border-right-color: #336699;
	border-bottom-color: #336699;
	border-left-color: #336699;
	width: 141px;






}
.teaser2 {
	color: #003976;
	padding: 2px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C7E1F0;
	border-right-color: #C7E1F0;
	border-bottom-color: #C7E1F0;
	border-left-color: #C7E1F0;
	width: 141px;




}
.teaserhead {
	font-weight: bold;
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #94B8D9;
	border-right-color: #94B8D9;
	border-bottom-color: #94B8D9;
	border-left-color: #94B8D9;

}
.teasertext {

	font-size: 10px;
}
table.teaser a:link {
	color: #3D6FA6;
	text-decoration: none;

}
table.teaser a:visited {

	color: #3D6FA6;
	text-decoration: none;
}
table.teaser2 a:link {

	color: #003366;
	text-decoration: none;
}
table.teaser2 a:visited {


	color: #003366;
	text-decoration: none;
}
.st {
	font-size: 9px;
	color: #336699;

}
.stleft {
	font-size: 10px;
	color: #C8E1F1;

}
td.stleft a:link {
	color: #C8E1F1;
	text-decoration: none;
}
td.stleft a:hover {

	color: #FFFFFF;
	text-decoration: underline;
}
td.stleft a:visited {

	color: #C8E1F1;
	text-decoration: none;
}
.se {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
	background-color: #EBEBEB;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #FFFFFF;
}
form {
	font-size: 10px;
	color: #336699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;


}
td.opentext a:link {
	text-decoration: underline;
}
td.opentext a:visited {
	text-decoration: underline;
}
.listhead {
	font-weight: bold;
	color: #26568A;
	background-color: #C2DCEC;
	background-image: url('../../images/outer.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 18px



}
.blackborder2 {
	border: 1px solid #C2DCEC;
}
.more {
	text-align: right;
}
td.list p {
	margin: 1px 0px;
	padding: 1px 0px;
}
.opentextsmall {
	color: #003976;
}
.inlist {
	font-weight: bold;
	color: #F4822C;
	background-image: url('../../images/inner.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:22px; padding-right:2px; padding-top:2px; padding-bottom:2px

}
.list2 {
	color: #336699;
}
.ss {
	font-weight: bold;
}
.ssubcat {
	padding-left: 20px;
}
.ssubcat2 {
	padding-left: 40px;
}
.ssubcat3 {
	padding-left: 60px;

}
.setrans {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #FFFFFF;
}
.headlinehead {
	font-weight: bold;
	color: #F4822B;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F4822B;
	border-right-color: #F4822B;
	border-bottom-color: #F4822B;
	border-left-color: #F4822B;

}
.upcatover {
	color: #003976;
	padding-left: 18px;
	font-weight: bold;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 6px;
	padding-bottom: 2px;
	background-image: url('../../images/upcat_over.gif');
	background-repeat: no-repeat;
	background-position: left top

}
.upcat {


	color: #003976;
	padding-left: 18px;
	font-weight: bold;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 6px;
	padding-bottom: 2px;
	background-image: url('../../images/upcat.gif');
	background-repeat: no-repeat;
	background-position: left top
}
td.upcat a:link {
	color: #3D6FA6;
	text-decoration: none;

}
td.upcat a:visited {

	color: #3D6FA6;
	text-decoration: none;
}.grey {
	font-size: 9px;
	color: #336699;
	font-weight: bold;
	padding: 2px;


}
td.grey a:link {
	background-image: url('../../images/more_pages.gif');
	background-repeat: no-repeat;
	background-position:  center;
	padding: 10px;
	color: #999999


}
td.grey a:visited {

	background-image: url('../../images/more_pages.gif');
	background-repeat: no-repeat;
	background-position:  center;
	padding: 10px;
	color: #999999
}
td.grey a:hover {


	background-image: url('../../images/more_pages2.gif');
	background-repeat: no-repeat;
	background-position:  center;
	padding: 10px;
	color: #336699
}
td.list2 p {

	margin: 1px 0px;
	padding: 1px 0px;
}
.opentext {
	text-align: justify;

}
.se0 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
	background-color: #F2F2F2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #999999;
}
.lefh {
	font-size: 9px;
	color: #336699;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.lcat {
	border-left:1px solid #FF9900; border-right:1px solid #FF6600; border-top:1px solid #FF9900; border-bottom:1px solid #FF6600; padding-left: 17px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10px;
	background-image: url('../../images/folder2.gif');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #F4822C;














}
.lcatover {
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 17px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10px;
	background-image: url('../../images/folder.gif');
	background-color: #C1DBEB;
	border: 1px solid #FFFFFF;
}
.atoll {
	width: 600px;

}
td.lcat a:link {
	color: #FFFFFF;
	text-decoration: none;

}
td.lcat a:visited {
	color: #FFFFFF;
	text-decoration: none;

}
td.lcatover a:link {
	color: #003976;
	text-decoration: none;
}
td.lcatover a:visited {
	color: #003976;
	text-decoration: none;
}
.lsubcat {
	padding-left: 15px;
	font-size: 10px;
	background-color: #CD5D08;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF6600;
	border-right-color: #A84C07;
	border-bottom-color: #A84C07;
	border-left-color: #FF6600;




}
.lsubcatover {
	padding-left: 15px;
	font-size: 10px;
	background-color: #A84C07;
	border: 1px solid #A84C07;
	background-image: url('../../images/lsubcat2.gif');
	background-repeat: no-repeat;
	background-position: left top






}
td.lsubcat a:link {
	color: #FFCEA9;
	text-decoration: none;
}
td.lsubcat a:visited {

	color: #FFCEA9;
	text-decoration: none;
}
.rw {
	background-color: #EBEBEB;
	width: 153px;

}
.catc {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;





}
td.lsubcatover a:link {

	color: #FFFFFF;
	text-decoration: none;
}
td.lsubcatover a:visited {


	color: #FFFFFF;
	text-decoration: none;
}
.dark {
	background-color: #EBEBEB;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
.gcat {
	background-color: #CCCCCC;
	font-weight: bold;

}
.gcatover {

	background-color: #FFFFFF;
	font-weight: bold;
}
.selectedcat {
	font-size: 12px;
	font-weight: bold;
	color: #336699;
}
td.st a:link {
	text-decoration: none;
}
td.st a:visited {

	text-decoration: none;
}
.galw {
	width: 70%;
}
.lsubcat2 {
	padding-left: 20px;
	font-size: 10px;
	background-color: #883C04;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A14704;
	border-right-color: #6E2F00;
	border-bottom-color: #6E2F00;
	border-left-color: #A14704;


}
.lsubcat2over {
	padding-left: 20px;
	font-size: 10px;
	background-color: #6E2F00;
	border: 1px solid #6E2F00;


}
td.lsubcat2 a:link {
	color: #E58D4B;
	text-decoration: none;
}
td.lsubcat2 a:visited {
	color: #E58D4B;
	text-decoration: none;
}
td.lsubcat2over a:link {

	color: #FFFFFF;
	text-decoration: none;
}
td.lsubcat2over a:visited {


	color: #FFFFFF;
	text-decoration: none;
}
.lsubcat3 {
	padding-left: 25px;
	font-size: 9px;
	background-color: #52280A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #6E2F00;
	border-right: 1px solid #401E05;
	border-bottom: 1px solid #401E05;
	border-left: 1px solid #6E2F00;



}
.lsubcat3over {
	padding-left: 25px;
	font-size: 9px;
	background-color: #401E05;
	border: 1px solid #401E05;


}
td.lsubcat3 a:link {

	color: #A98265;
	text-decoration: none;
}
td.lsubcat3 a:visited {


	color: #A98265;
	text-decoration: none;
}
td.lsubcat3over a:link {



	color: #FFFFFF;
	text-decoration: none;
}
td.lsubcat3over a:visited {




	color: #FFFFFF;
	text-decoration: none;
}
td.opentext p {
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 5px 0px 0px;
}
td.opentextsmall p {
	margin: 0px;
	padding: 0px;
}
p.opentextsmall p {

	margin: 0px;
	padding: 0px;
}
td.inlist a:link {
	color: #F4822C;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFCC99;
	border-right-color: #FFCC99;
	border-bottom-color: #FFCC99;
	border-left-color: #FFCC99;

}
td.inlist a:visited {

	color: #F4822C;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFCC99;
	border-right-color: #FFCC99;
	border-bottom-color: #FFCC99;
	border-left-color: #FFCC99;
}
td.inlist a:hover {


	color: #F4822C;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F4822C;
	border-right-color: #F4822C;
	border-bottom-color: #F4822C;
	border-left-color: #F4822C;
}
.preliminary {

	background-color: #3D6FA6;
	background-image: url('../../images/newsc.gif');
	background-repeat: no-repeat;
	background-position: right top;
	width: 141px
}
.nda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #874718;
	text-decoration: none;
	padding-left: 70px;
}
table.news hr {
	font-size: 9px;
	color: #C4590B;
	margin: 0px;
	padding: 0px;
	height: 1px;
	text-decoration: none;
	width: 100%;
}
