vti_encoding:SR|utf8-nl
vti_author:SR|CASE\\favourafolabi
vti_modifiedby:SR|CASE\\favourafolabi
vti_timelastmodified:TR|20 Oct 2005 20:27:58 -0000
vti_timecreated:TR|20 Oct 2005 20:27:58 -0000
vti_cacheddtm:TX|20 Oct 2005 20:27:58 -0000
vti_filesize:IR|10998
vti_cachedlinkinfo:VX|S|poeglob.gif S|poetextb.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/poetic/poeglob.gif FSUS|_themes/poetic/poetextb.gif FSUS|_themes/poetic/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{48694E11-23E4-4A7A-94B3-F73A127B4DB8}
vti_backlinkinfo:VX|
