vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Oct 2005 09:57:11 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|CASE\\favourafolabi
vti_modifiedby:SR|CASE\\favourafolabi
vti_timecreated:TR|29 Sep 2005 16:50:12 -0000
vti_lineageid:SR|{0F3C44DE-6E11-43A8-9DBB-30D140263C43}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|24 Oct 2005 09:57:11 -0000
vti_filesize:IR|429
